@import "@/style/app.scss";
.table-line {
    @include flex-center(row, 10px);
    margin-bottom: 10px;
    &.shake {
        animation: shake 0.5s;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}